@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:100,200,300,400,500,600,700|PT+Sans:100,200,300,400,500,600,700');


.container-fluid{
    padding: 0%;
}
/*-----------header---------*/

.navbar{
    margin-right: 0;
}

.navbar-background{
    background-color: black;

}
.navbar-brand{
    font-family: "Roboto Mono", sans-serif;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 7px;

}

.nav-item{
    letter-spacing: 5px;
    font-family: "Roboto Mono", sans-serif;
    text-transform: uppercase;

}

/*-----------/header---------*/

/*-----------HOVER---------*/

.hvr-grow {
    display: inline-block;
    vertical-align: middle;
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    transition-duration: 0.3s;
    transition-property: transform;
}

.hvr-grow:hover,
.hvr-grow:focus,
.hvr-grow:active {
    transform: scale(1.1);
}

/*-----------/HOVER---------*/




/*----------/hero&cta-------*/

.hero-image {
    height: 100vh;
    background: url(../images/dj-hero-image.jpg) no-repeat center center; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.jumbotron{
    background-color:transparent;
    padding: 0;
}

.jumbotron-header{
    margin-bottom: 130px;
    text-transform: uppercase;
    color: #fff;
    font-family: "PT Sans", sans-serif;
    font-weight: 500;

}

.buttons{
    padding-left: 20px;
    padding-right: 20px;

}

.services-button{
    font-family: "PT Sans", sans-serif;
    background-color:rgba(255, 255, 255, 0.8);
    color: #000;
    margin: 0 auto;
    display: block;
    float: right;
}

.contact-button{
    font-family: "PT Sans", sans-serif;
    background-color:rgba(255, 255, 255, 0.8);
    color: #000;
    margin: 0 auto;
    padding-left: 60px;
    padding-right: 57px;
    display: inline-block;
    
}

@media only screen and (max-width : 768px) { 
  .buttons{
    display: inline-block;
    padding-top: 30px;
    padding-left: 85px;
    padding-right: 85px;

  }
}

/*-----------/hero&cta-------------*/

/*-----------FEATURES-------------*/


.features{
    
    background: url(../images/mix-desk-stock-img2.jpg); 
    background-size: cover;
    padding: 25px 50px 25px 50px;
    margin: 0 auto;
    }

.feature-heading{

    font-family: "PT Sans", sans-serif;
    font-weight: 100;
    letter-spacing: 1px;
    color: #fafafa;
    text-align: center;
    margin-bottom: 40px;
    
}

.feature-text{
    font-family: "PT Sans", sans-serif;
    font-weight: 100;
    text-transform: none;
}

/*.feature i{
    margin-bottom: 20px;
    font-size: 45px;
    line-height: 45px;
}


/*-----------/FEATURES-------------*/


/*------------footer--------------*/

.footer-copyright{
    padding-right: 15px;
    font-family: "PT Sans", sans-serif;
    color: rgba(255, 255, 255, 0.8)
}

.social-links{
    text-align: center;
}
.social-links li a i {
    width: 32px;
    height: 32px;
    padding: 12px 0;
    border-radius: 50%;
    font-size: 13px;
    line-height: 7px;
    text-align: center;
    color: #fafafa;
    background: #8f8f8f;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;

}

.social-links li a i:hover {
    background: grey;
}

.footer-copyright{
    text-align: center;
    font-family: "Roboto Mono", sans-serif;
    color: rgba(255, 255, 255, 0.4)
}

@media only screen and (max-width : 768px) { 
    .page-footer{
        position: fixed;
    }
}
