body {
    
    font-family: 'Roboto', sans-serif;
}


.navbar{
    margin-bottom: 0;
    border-bottom: 0;
    text-align: center;
    
}


/*-----------/hero-image-------------*/


.hero-image-container {
    height: 100vh;
 
    background: url(../images/dj-hero-image.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    

    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
}

.opaque-overlay{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}


.jumbotron{
    background-color: transparent;
}

.jumbotron-header{
    text-transform: uppercase;
    color: #fafafa;

}


/*-----------/hero-image-------------*/